
/*-------------------------------------------------
 =  Table of Css

 1.Isotope                              
 2.Header
    header 2
    header 3
    header 4
    header 5
    header 6                         
 3.General code                   
 4.content - home sections                              
 5.Portfolio pages                           
 6.Blog pages       
 8.Single post                               
 9.Contact page                            
 10.Home 6                            
 11.Shop Page                            
 12.Home 2                            
 13.About page                            
 14.Home 3
 15.Home 4           
 16.Home 5           
 17.Home 10           
 18.Single Project page         
 19.Footer
 20.nouislider style (used in priccing range)

-------------------------------------------------*/

/*-------------------------------------------------------*/
/* 1. Isotope filtering
/*-------------------------------------------------------*/
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {/* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:-moz-transform, opacity;
    transition-property:transform, opacity;
}

/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/


.navbar {
	margin-bottom: 0;
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    border: none !important;
    border-bottom: 1px solid #f6f7f7;
    border-radius: 0;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

header.active .navbar {
    background: rgba(255,255,255,0.9);
}

.top-line {
    padding: 5px 0;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.top-menu {
    float: left;
    margin-top: 5px;
}

ul.top-menu li {
    display: inline-block;
    margin-right: 12px;
}

ul.top-menu li a {
    display: inline-block;
    color: #8e8e8e;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    padding-left: 15px;
    border-left: 1px solid #eeeeee;
    text-decoration: none;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.top-menu li a:hover {
    color: #000;
}

ul.top-menu li a i {
    color: #000;
    margin-right: 7px;
}

header.active .top-line {
    height: 0;
    padding: 0;
}

ul.social-icons {
    float: right;
}

ul.social-icons li {
    display: inline-block;
    margin-left: 10px;
}

ul.social-icons li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    border: 1px solid #eeeeee;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.social-icons li a i {
    font-size: 17px;
    line-height: 30px;
    color: #000;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.social-icons li a:hover {
    background: #000;
    border: 1px solid #000;
}

ul.social-icons li a:hover i {
    color: #fff;
}

.navbar-brand {
    padding: 30px 15px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

header.active .navbar-brand {
    padding: 10px 15px 0;
}

.navbar-default .navbar-nav {
    margin: 0;
}

.navbar-default .navbar-nav > li {
    margin-left: 10px;
}

.navbar-default .navbar-nav > li.drop {
    position: relative;
}

.navbar-default .navbar-nav > li.drop > a:after {
    position: absolute;
    content: '\f107';
    font-family: 'Font Awesome\ 5 Pro';
    color: #949494;
    font-size: 15px;
    right: 7px;
    top: 50%;
    margin-top: -10px;
    z-index: 3;
}

.navbar-default .navbar-nav > li:first-child {
    margin-left: 0px;
}

.navbar-default .navbar-nav > li > a {
    position: relative;
    color: #949494;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    padding: 44px 13px;
    text-transform: uppercase;
    z-index: 2;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.navbar-default .navbar-nav > li > a span {
    position: absolute;
    width: 100%;
    height: 10px;
    top: 50%;
    left: 0;
    margin-top: -5px;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.navbar-default .navbar-nav > li:hover > a span {
    height: 40px;
    top: 50%;
    margin-top: -20px;
    border: 1px solid #000;
}

header.active .navbar-default .navbar-nav > li > a {
    padding: 24px 13px;
}

header .navbar-default .navbar-nav > li.drop > a {
    padding-right: 26px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #000;
}

.navbar-default .navbar-nav > li > a.active {
    color: #000;
}

ul.drop-down {
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    visibility: hidden\0/;
    opacity: 0;
    z-index: 3;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    -mos-transition: -mos-transform 0.4s, opacity 0.1s 0.3s;
    -o-transition: -o-transform 0.4s, opacity 0.1s 0.3s;
}

.navbar-default .navbar-nav > li:hover > ul.drop-down {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      -o-transform: rotateX(0deg);
      transform: rotateX(0deg);
      -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
      -moz-transition: -moz-transform 0.4s, opacity 0.1s;
      -mos-transition: -mos-transform 0.4s, opacity 0.1s;
      -o-transition: -o-transform 0.4s, opacity 0.1s;
      transition: transform 0.4s, opacity 0.1s;
	  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.12);
box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}

ul.drop-down li a {
    display: block;
    color: #646464;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 15px 18px;
    text-decoration: none;
    text-transform: capitalize;
    background: #fff;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    opacity: 1;
    border-top: 1px solid #d5d5d5;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.drop-down li {
    position: relative;
}

 ul.drop-down.level3 {
    top: 0;
    left: 100%;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

ul.drop-down li:hover ul.drop-down.level3 {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
      -moz-transition: -moz-transform 0.4s, opacity 0.1s;
      -mos-transition: -mos-transform 0.4s, opacity 0.1s;
      -o-transition: -o-transform 0.4s, opacity 0.1s;
      transition: transform 0.4s, opacity 0.1s;
}

ul.drop-down li a:hover {
    background: #54babb;
    color: #fff;
}

header.active .shop-top-line {
    height: 0;
    overflow: hidden;
    padding: 0;
}

.shop-top-line {
    background: #54babb;
    overflow: hidden;
    padding: 8px 0;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.currency {
    float: left;
}

.currency li {
    display: inline-block;
}

.currency li a {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.currency li a i {
    line-height: 24px;
    color: #fff;
    font-size: 15px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.currency li a:hover {
    background: #fff;
}

.currency li a:hover i {
    color: #54babb;
}

ul.shop-account-list {
    float: right;
}

ul.shop-account-list li {
    display: inline-block;
    margin-left: 20px;
}

ul.shop-account-list li:first-child {
    margin-left: 0px;
}

ul.shop-account-list li a {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.shop-account-list li a:hover {
    opacity: 0.6;
}

ul.shop-account-list li a i {
    color: #fff;
    font-size: 14px;
    margin-right: 8px;
}

.shop-navbar {
    margin-left: 24px;
    margin-top: 34px;
    margin-right: -15px;
}

header.active .shop-navbar {
    height: 0;
    overflow: hidden;
}

.shop-navbar li {
    display: inline-block;
    margin: 0;
}

.shop-navbar li a {
    display: inline-block;
    font-size: 14px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 0;
    background: none !important;
}

.shop-navbar li span {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    background: #54babb;
    text-align: center;
    margin-right: 8px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.shop-navbar li a:hover span {
    opacity: 0.7;
}

.shop-navbar li span i {
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    -webkit-backface-visibility: hidden;
}

/* header2 */

header.header2 .navbar-default .navbar-nav > li > a span {
    width: 100%;
    height: 0px;
    border: none;
    z-index: -1;
}

header.header2 .navbar-default .navbar-nav > li:hover > a span,
header.header2 .navbar-default .navbar-nav > li > a.active span {
    width: 100%;
    height: 40px;
    margin-top: -20px;
    background: #54babb;
}

header.header2 .navbar-default .navbar-nav > li:hover > a,
header.header2 .navbar-default .navbar-nav > li > a.active {
    color: #fff;
}

header.header2 .navbar-default .navbar-nav > li.drop:hover a:after,
header.header2 .navbar-default .navbar-nav > li.drop a.active:after {
    color: #fff;
}

/* header3 */

header.header3 .navbar-default .navbar-nav > li > a span {
    width: 100%;
    height: 0px;
    top: 0;
    margin-top: 0;
    border: none;
    z-index: -1;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

header.header3 .navbar-default .navbar-nav > li:hover > a span,
header.header3 .navbar-default .navbar-nav > li > a.active span {
    height: 7px;
    background: #54babb;
}

header.header3 .navbar-default .navbar-nav > li:hover > a,
header.header3 .navbar-default .navbar-nav > li > a.active {
    color: #54babb;
}

header.header3 .navbar-default .navbar-nav > li.drop:hover a:after,
header.header3 .navbar-default .navbar-nav > li.drop a.active:after {
    color: #54babb;
}

/* header4 */

header.header4 .navbar-default .navbar-nav > li > a span {
    width: 100%;
    height: 0px;
    border: none;
    z-index: -1;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

header.header4 .navbar-default .navbar-nav > li:hover > a span,
header.header4 .navbar-default .navbar-nav > li > a.active span {
    height: 100%;
    background: #54babb;
    margin-top: 0;
    top: 0;
}

header.header4 .navbar-default .navbar-nav > li:hover > a,
header.header4 .navbar-default .navbar-nav > li > a.active {
    color: #fff;
}

header.header4 .navbar-default .navbar-nav > li.drop:hover a:after,
header.header4 .navbar-default .navbar-nav > li.drop a.active:after {
    color: #fff;
}

/* header5 */

header.header5 .navbar-default .navbar-nav > li > a span {
    width: 100%;
    height: 0px;
    border: none;
    margin-top: 0;
    top: inherit;
    bottom: 0;
    z-index: -1;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

header.header5 .navbar-default .navbar-nav > li:hover > a span,
header.header5 .navbar-default .navbar-nav > li > a.active span {
    height: 100%;
    background: #54babb;
    height: 7px;
}

header.header5 .navbar-default .navbar-nav > li:hover > a,
header.header5 .navbar-default .navbar-nav > li > a.active {
    color: #54babb;
}

header.header5 .navbar-default .navbar-nav > li.drop:hover a:after,
header.header5 .navbar-default .navbar-nav > li.drop a.active:after {
    color: #54babb;
}

/* header6 */

header.header6 .navbar-default .navbar-nav > li:hover > a span,
header.header6 .navbar-default .navbar-nav > li > a.active span {
    border: 1px solid #54babb;
    height: 40px;
    margin-top: -20px;
}

header.header6 .navbar-default .navbar-nav > li:hover > a,
header.header6 .navbar-default .navbar-nav > li > a.active {
    color: #54babb;
}

header.header6 .navbar-default .navbar-nav > li.drop a:after {
    display: none;
}

header.header6 .navbar-default .navbar-nav > li.drop a {
    padding-right: 13px;
}

header.header6 .navbar-default .navbar-nav > li a i {
    color: #54babb;
    font-size: 18px;
    margin-right: 8px;
}

/*-------------------------------------------------*/
/* =  General code
/*-------------------------------------------------*/

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    color: #000000;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    margin: 0;    
}

h2 {
    color: #464646;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;    
}

h3 {
    color: #000000;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    margin-bottom: 22px;
}

h4 {
    color: #000000;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

h5 {
    color: #000000;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

p {
    color: #9a9a9a;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    line-height: 18px;
}

a.main-button {
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 12px 35px;
    background: #7ea4f5;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

a.main-button:hover {
    opacity: 0.8;
}

button {
    outline: none !important;
}

#container {
    padding-top: 150px;
    background: #fff;
}

#container.boxed {
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.home-box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../upload/background.jpg');
}

/*-------------------------------------------------*/
/* =  content - home sections
/*-------------------------------------------------*/


#slider {
    background: #54babb;
}

#slider.revolution-slider {
    background: none;
}

.tp-caption.large_text {
    color: #fff;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    text-shadow: none;
}

.tp-caption.large_text span {
    font-weight: 700;
}

.tp-caption.big_white{
    color: #fff;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 26px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

.tp-caption.modern_small_text_dark {
    color: #fff; 
    font-size: 14px; 
    line-height: 18px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-align: center;  
}

.tp-caption.modern_medium_light {
    background: #54babb;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -o-border-radius: 26px;
    padding: 20px 40px;
    text-align: center;
    width: 263px;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;    
}

.tp-caption.modern_medium_light i {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-bottom: 14px;
}

.tp-leftarrow.default {
    z-index:100;
    cursor:pointer;
    position:relative;
    background: rgba(0,0,0,0.3);
    width:61px;
    height:61px;
}

.tp-rightarrow.default {
    z-index:100;
    cursor:pointer;
    position:relative;
    background: rgba(0,0,0,0.3);
    width:61px;
    height: 61px;
}

.tp-leftarrow.default:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '\f104';
    font-family: 'FontAwesome';
    font-size: 30px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    line-height: 61px;
    width: 100%;
    text-align: center;
    text-indent: 0 !important;
}

.tp-rightarrow.default:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 30px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    line-height: 61px;
    width: 100%;
    text-align: center;
    text-indent: 0 !important;
}

.flex-caption {
    background: #54babb;
    margin: 20px 0;
    padding-left: 12px;
    border-left: 1px solid #fff;
    color: #fff;
    font-size: 24px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.flex-caption span {
    font-weight: 600;
}

.services-box1,
.recent-works {
    padding: 40px 0;
}

.services-box1 .services-post {
    padding: 40px 40px 32px;
    border: 1px solid #e5e5e5;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}

.services-box1 .services-post a {
    display: inline-block;
    width: 84px;
    height: 84px;
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.services-box1 .services-post a i {
    display: inline-block;
    color: #000;
    font-size: 32px;
    line-height: 84px;
    -webkit-backface-visibility: hidden;
}

.services-box1 .services-post:hover a {
    background: #000;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.services-box1 .services-post:hover a i {
    color: #fff;
}

.title-section {
    text-align: center;
    margin-bottom: 25px;
    z-index: 2;
    position: relative;
}

.title-section h1 {
    line-height: 40px;
}

.title-section p {
    color: #787878;
    font-size: 17px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.owl-controls {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 !important;
    z-index: 9999;
    width: 100%;
    height: 0;
}

.owl-pagination {
    display: none;
}

.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    position: relative;
    zoom: 1;
    margin: 0px;
    font-size: 32px;
    border-radius: 0px;
    -o-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background: rgba(0,0,0,0.6);
    border: none;
    opacity: 1;
    padding: 0;
    width: 50px;
    height: 90px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.owl-theme .owl-controls {
    margin: 0;
}

.owl-theme .owl-controls .owl-buttons div:hover {
    opacity: 0.4;
}

.owl-theme .owl-controls .owl-buttons div:before {
    font-family: 'FontAwesome';
    position: absolute;
    font-size: 32px;
    color: #fff;
    width: 100%;
    left: 0;
    text-align: center;
    line-height: 90px;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev {
    float: left;
}

.owl-theme .owl-controls .owl-buttons div.owl-next {
    float: right;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev:before {
    content: "\f104";
}

.owl-theme .owl-controls .owl-buttons div.owl-next:before {
    content: "\f105";
}

.owl-buttons {
    margin-top: -45px;
}

.project-post {
    position: relative;
}

.project-post img {
    width: 100%;
}

.hover-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #54babb;
    visibility: hidden\0/;
    opacity: 0\0/;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transform: rotateY(-90deg) scale(0.8);
    -moz-transform: rotateY(-90deg) scale(0.8);
    -ms-transform: rotateY(-90deg) scale(0.8);
    -o-transform: rotateY(-90deg) scale(0.8);
    transform: rotateY(-90deg) scale(0.8);
}

.project-post:hover .hover-box {
    visibility: visible;\0/;
    opacity: 1\0/;
    -webkit-transform: rotateY(0deg) scale(1);
    -moz-transform: rotateY(0deg) scale(1);
    -ms-transform: rotateY(0deg) scale(1);
    -o-transform: rotateY(0deg) scale(1);
    transform: rotateY(0deg) scale(1);
}

.inner-hover-box {
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -63px;
    left: 0;
    width: 100%;
}

.inner-hover-box h2 {
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    line-height: 28px;
}

.inner-hover-box p {
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 12px;
    line-height: 20px;
}

.inner-hover-box a {
    display: inline-block;
    width: 63px;
    height: 63px;
    border: 1px solid #fff;
    border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.inner-hover-box a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.inner-hover-box a i {
    font-size: 18px;
    line-height: 63px;
    color: #fff;
}

.choose-tempcore {
    padding-top: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.image-sect {
    max-width: 100%;
    text-align: right;
}

.tempcore-features {
    margin-top: 15px;
}

.tempcore-features li {
    overflow: hidden;
    margin-bottom: 22px;
}

.tempcore-features li span {
    display: inline-block;
    float: left;
    width: 52px;
    height: 52px;
    background: #54babb;
    border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
    margin-right: 20px;
}

.tempcore-features li span i {
    color: #fff;
    font-size: 22px;
    line-height: 52px;  
}

.tempcore-features li h4 {
    margin-top: 3px;
}

.tempcore-features li p {
    color: #787878;
    font-size: 15px;
    line-height: 22px;
    margin: 0; 
}

.tempcore-line {
    padding: 40px 0;
    background: #54babb;
    position: relative;
}

.tempcore-line:after {
    position: absolute;
    content: '';
    width: 1170px;
    max-width: 100%;
    left: 50%;
    margin-left: -585px;
    top: 100%;
    z-index: 2;
    height: 53px;
    background: url('../images/shadow.png') center center no-repeat;
}

.tempcore-line p {
    margin-right: 160px;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
}

.tempcore-line p span {
    font-weight: 600;
}

.tempcore-line i {
    font-size: 38px;
    color: #fff;
    margin-right: 20px;
}

.tempcore-line a {
    display: inline-block;
    float: right;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    background: #393c40;
    width: 145px;
    height: 54px;
    line-height: 54px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.tempcore-line a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*-------------------------------------------------*/
/* =  Portfolio pages
/*-------------------------------------------------*/

.page-banner {
    padding: 80px 0;
    background: url('../upload/banner.jpg');
    overflow: hidden;
    text-align: center;
}

h1.page-title {
    max-width: 1170px;
    margin: 0 auto 30px;
    text-align: center;
    min-height: 52px;
    margin-top: -28px;
}

h1.page-title span {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    color: #000;
    padding: 14px 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    background: #fff;
    border: 1px solid #dadada;
}

ul.page-tree {
    margin: 0;
    display: inline-block;
    background: rgba(0,0,0,0.5);
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}

ul.page-tree li {
    position: relative;
    display: inline-block;
    margin-left: 40px;
}

ul.page-tree li:before {
    font-family: 'FontAwesome';
    content: '\f0a9';
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: -26px;
}

ul.page-tree li:first-child {
    margin-left: 0px;
}

ul.page-tree li:first-child:before {
    content: '';
}

ul.page-tree li a {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.filter {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

ul.filter li {
    display: inline-block;
}

ul.filter li a {
    position: relative;
    display: inline-block;
    color: #6e6e6e;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    padding: 10px 15px;
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

ul.filter li a.active,
ul.filter li a:hover {
    color: #fff;
    background: #54babb;
}

.portfolio-container {
    width: 1170px;
    margin-left: -15px;
    margin-bottom: 20px;
}

.portfolio-container .project-post {
    margin: 15px;
}

.portfolio-container .project-post img {
    width: 100%;
}

.with-4-col .portfolio-container .project-post {
    width: 262px;
}

.with-3-col .portfolio-container .project-post {
    width: 360px;
}

.with-2-col .portfolio-container .project-post {
    width: 555px;
}

.portfolio-box.fullwidth .portfolio-container {
    width: 100%;
    margin: 0;
}

.portfolio-box.fullwidth .portfolio-container .project-post {
    margin: 0;
    width: 20%;
}

ul.pagination-list {
    margin-bottom: 35px;
    margin-top: 20px;
}

ul.pagination-list li {
    display: inline-block;
}

ul.pagination-list li a {
    display: inline-block;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    padding: 6px 13px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.pagination-list li a.active,
ul.pagination-list li a:hover {
    background: #54babb;
    border: 1px solid #54babb;
    color: #fff;
}

/*-------------------------------------------------*/
/* =  Blog pages
/*-------------------------------------------------*/

.page-banner.blog-banner {
    background: url('../upload/banner2.jpg');
}

.blog-post {
    margin-bottom: 20px;
    padding-bottom: 24px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out; 
}

.blog-post img {
    width: 100%;
}

.date-post {
    text-align: center;
    margin-bottom: 13px;
    margin-top: -28px;
}

ul.post-tags {
    display: inline-block;
    background: #54babb;
    padding: 18px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out; 
}

ul.post-tags li {
    display: inline-block;
}

ul.post-tags li:first-child {
    margin-right: 10px;
}

ul.post-tags li a {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #fff;
    line-height: 16px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out; 
}

ul.post-tags li a i {
    display: inline-block;
    font-size: 16px;
    margin-right: 7px;
}

.blog-post h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    color: #454545;
    line-height: 26px;
    text-align: center;
    margin: 0 0 15px;
}

.blog-post h2 a {
    display: inline-block;
    color: #454545;
    padding: 0 24px 15px;
    border-bottom: 1px solid #cccccc;
    text-decoration: none !important;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;  
}

.blog-post h2 a:hover {
    opacity: 0.7; 
}

.blog-post p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    color: #919191;
    line-height: 22px;
    text-align: center;
    margin: 0;
    max-height: 63px;
    overflow: hidden;
    padding: 0 24px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out; 
}

.blog-post:hover {
    background: #54babb;
}

.blog-post:hover h2 a {
    color: #fff;
}

.blog-post:hover p {
    color: #fff;
}

.blog-post:hover ul.post-tags {
    background: #fff;
}

.blog-post:hover ul.post-tags li a {
    color: #54babb;
}

.search-widget {
    margin-bottom: 30px;
}

.search-widget input[type="search"] {
    color: #716565;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 15px 20px;
    border: 1px solid #dcdcdc;
    width: 100%;
    outline: none;
}

.search-widget input[type="search"]:focus {
    border: 1px solid #54babb;
}

.search-widget button {
    background: #fff;
    border: none;
    float: right;
    margin-top: -35px;
    margin-right: 15px;
    position: relative;
    z-index: 2;
}

.search-widget button i {
    color: #54babb;
    font-size: 18px;
}

.sidebar-widgets .widget > h5 {
    margin-bottom: 20px;
}

.accord-elem {
    margin-bottom: 20px;
}

.accord-title {
    padding: 16px 14px;
    border: 1px solid #dbdbdb;
    position: relative;
}

.accord-title h5 {
    padding-right: 48px;
}

.accord-title h5 i {
    color: #54babb;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 12px;
}

a.accord-link {
    display: inline-block;
    position: absolute;
    width: 46px;
    height: 100%;
    top: 0;
    right: 0;
    border-left: 1px solid #dbdbdb;
    background: url('../images/plus.png') center center no-repeat;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.accord-elem.active a.accord-link {
    background: url('../images/minus.png') center center no-repeat;
}

a.accord-link.opened {
    background: url('../images/minus.png') center center no-repeat;
}

.accord-content {
    display: none;
    padding: 22px;
    border: 1px solid #dbdbdb;
    border-top: none;
    overflow: hidden;
}

.accord-content span.image-content {
    display: inline-block;
    float: left;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 22px;
    background: #007aff;
}

.accord-content span.image-content i {
    color: #fff;
    font-size: 30px;
    text-align: center;
    width: 100%;
    line-height: 68px;
    vertical-align: middle;
}

.accord-elem.active .accord-content {
    display: block;
}

.tab-content-box {
    text-align: center;
    padding: 60px;
    border: 1px solid #dbdbdb;    
}

.tab-box {
    text-align: center;
    padding: 65px 0 83px;
    border: 1px solid #dbdbdb;
    min-height: 365px;   
}

.tab-content-sidebar {
    display: none;
}

.tab-content-sidebar:first-child {
    display: block;
}

ul.tab-links {
    border: 1px solid #dbdbdb; 
    border-top: none;
    overflow: hidden;
    margin-bottom: 40px;
}

ul.tab-links li {
    float: left;
    width: 33.33%;
    text-align: center;
    border-left: 1px solid #dbdbdb; 
}

ul.tab-links li:first-child {
    border-left: none; 
}

ul.tab-links li a {
    display: inline-block;
    width: 100%;
    padding: 12px;
    color: #000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    background: #fff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.tab-links li a i {
    font-size: 30px;
    color: #54babb;
    display: block;text-align: center;
    margin-bottom: 6px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.tab-links li a:hover {
    color: #fff;
    background: #54babb;
}

ul.tab-links li a:hover i {
    color: #fff;
}

.tabs-widget ul.tab-links {
    border-bottom: none;
    border-top: 1px solid #dbdbdb;
    margin-bottom: 0;
}

.tabs-widget ul.tab-links li a {
    font-size: 13px;
}

.tabs-widget ul.tab-links li a:hover {
    background: #fff;
    color: #54babb;
}

.tabs-widget {
    margin-bottom: 30px;
}

.tabs-widget .tab-box {
    padding: 0;
    text-align: left;
    min-height: 20px;
}

.tabs-widget .tab-box .tab-content-sidebar {
    padding: 20px;
}

.tabs-widget .tab-content-sidebar ul li {
    overflow: hidden;
    margin-bottom: 16px;
    width: 100%;
}

.tabs-widget .tab-content-sidebar ul li img {
    float: left;
    width: 45px;
}

.tabs-widget .tab-content-sidebar ul li h6 {
    line-height: 17px;
    color: #aeaeae;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    margin-left: 55px;
}

.tabs-widget .tab-content-sidebar ul li h6 a {
    color: #aeaeae;
    text-decoration: none;
    display: inline-block;
}

.tabs-widget .tab-content-sidebar ul li h6 a:hover {
    color: #54babb;
}

.accordion-widget {
    margin-bottom: 10px;
}

.accordion-widget .accord-content {
    padding: 18px;
}

.sidebar .tags-widget {
    margin-bottom: 20px;
}

/*-------------------------------------------------*/
/* =  Single post
/*-------------------------------------------------*/

.single-post .date-post {
    margin-top: -55px;
    text-align: left;
}

.single-post .blog-post h2,
.single-post .blog-post p {
    text-align: left;
}

.single-post .blog-post h2 a {
    display: block;
}

.single-post .blog-post p {
    margin-bottom: 15px;
    max-height: inherit;
}

.comment-section {
    margin-bottom: 20px;
    overflow: hidden;
}

.comment-section h1 {
    font-size: 24px;
    text-transform: inherit;
    margin-bottom: 15px;
}

.comment-box {
    overflow: hidden;
    margin-bottom: 30px;
}

.comment-box img {
    float: left;
    max-width: 80px;
}

ul.depth {
    margin-left: 100px;
}

ul.depth li {
    position: relative;
}

ul.depth li:before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    top: 0;
    left: -60px;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.comment-content {
    padding-left: 100px;
}

.comment-content h6 {
    color: #3c3c3c;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    line-height: 22px;
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    margin: -4px 0 7px;
    padding-bottom: 4px;
}

.comment-content h6 span {
    color: #d1d1d1;
    font-style: normal;
}

.comment-content p {
    color: #a3a3a3;
    line-height: 26px;
}

.text-fields {
    float: left;
    width: 50%;
    padding-right: 10px;
}

.submit-area {
    float: right;
    width: 50%;
}

.comment-form {
    overflow: hidden;
    margin-bottom: 40px;
}

.comment-form h1 {
    font-size: 24px;
    text-transform: inherit;
    margin-bottom: 16px;
}

.float-input {
    position: relative;
    padding-left: 58px;
}

.float-input span {
    position: absolute;
    width: 58px;
    height: 58px;
    border: 1px solid #eaeaea;
    top: 0px;
    left: 0px;
    z-index: 2;
    text-align: center;
}

.float-input span i {
    line-height: 32px;
    font-size: 12px;
    color: #1ab5b3;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #1ab5b3;
    margin-top: 13px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#contact-form input[type="text"],
#contact-form textarea,
.comment-form input[type="text"],
.comment-form textarea {
    color: #848484;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #eaeaea;
    border-left: none;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    outline: none;
    width: 100%;
    padding: 18px;
    display: block;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;  
}

#contact-form input[type="text"]:focus + span i,
.comment-form input[type="text"]:focus + span i {
    color: #fff;
    background: #1ab5b3;
}

#contact-form textarea,
.comment-form textarea {
    height: 126px;
    border: 1px solid #eaeaea;
}

#contact-form input[type="submit"],
.comment-form input[type="submit"] {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    padding: 19px;
    background: #1ab5b3;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#contact-form input[type="submit"]:hover,
.comment-form input[type="submit"]:hover {
    opacity: 0.8;
}

#contact-form .message,
.comment-form .message {
    height:20px;
    font-size:13px;
    font-family: 'Open Sans', sans-serif;
    float: none;
    margin-top: 5px;
}

#contact-form .message.error,
.comment-form .message.error {
    color:#eb2c06;
}

#contact-form .message.success,
.comment-form .message.success {
    color:#1e9397;
}

/*-------------------------------------------------*/
/* =  Contact
/*-------------------------------------------------*/

.page-banner.contact-banner {
    background: url('../upload/banner3.jpg');
}

.map {
    height: 440px;
    margin-bottom: 40px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}

#contact-form h1,
.contact-info h1 {
    font-size: 30px;
    text-transform: inherit;
    margin-bottom: 16px;
}

.contact-box h1 {
    text-transform: inherit;
}

#contact-form {
    margin-bottom: 30px;
    overflow: hidden;
}

.contact-info {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 15px;
}

.contact-info p {
    font-size: 15px;
    color: #919191;
    line-height: 22px;
    margin-bottom: 15px;
}

.contact-info-list li {
    display: inline-block;
}

.contact-info-list li {
    display: inline-block;
    font-size: 14px;
    color: #919191;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin-right: 20px;
    line-height: 22px;
}

.contact-info-list li i {
    font-size: 17px;
    color: #54babb;
    margin-right: 10px;
}

.contact-info-list li a {
    color: #919191;
}

/*-------------------------------------------------*/
/* =  home 6
/*-------------------------------------------------*/

.home-section {
    padding-top: 40px;
    border-top: 1px solid #eeeeee;
}


.title-section.home-section h1 {
    font-size: 38px;
    text-transform: inherit !important;
}

/*-------------------------------------------------*/
/* =  shop page
/*-------------------------------------------------*/

.shop-banner {
    background: url('../upload/banner4.jpg');
}

.top-bar {
    padding: 9px;
    border: 1px solid #dbdbdb;
    height: 50px;
    margin-bottom: 30px;
}

.top-bar .left-block {
    float: left;
}

.top-bar .right-block {
    float: right;
}

.select-filter label {
    display: inline-block;
    margin: 0 9px 0 6px;
    color: #535353;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.select-filter .select-box {
    display: inline-block;
    margin-right: 10px;
}

.select-filter select {
    height: 30px;
    width: 100px;
    border: 1px solid #dbdbdb;
    outline: none;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.top-bar .right-block span {
    color: #535353;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    margin-right: 9px;
}

.top-bar .right-block a {
   display: inline-block;
   width: 30px;
   height: 30px;
   text-align: center;
   background: #54babb;
}

.top-bar .right-block i {
   font-size: 15px;
   color: #fff;
   line-height: 30px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.top-bar .right-block a:hover i {
   opacity: 0.7;
}

.product-post {
    margin-bottom: 50px;
}

.product-post img {
    width: 100%;
    margin-bottom: 15px;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -o-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -o-border-top-right-radius: 4px;
}

.product-post h2 {
    color: #000;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 15px;
}

ul.product-list {
    overflow: hidden;
    border: 1px solid #dbdbdb;
}

ul.product-list li {
    float: left;
    border-left: 1px solid #dbdbdb;
}

ul.product-list li:first-child {
    border-left: none;
}

ul.product-list li a {
    display: inline-block;
    padding: 11px;
    color: #000;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-decoration: none !important;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.product-list li a:hover {
    opacity: 0.6;
}

ul.product-list li a i {
    font-size: 18px;
    color: #54babb;
}

ul.product-list li.details a {
    background: #f2f2f2;
}

ul.product-list li.price {
    padding: 11px 13px;
    background: #54babb;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

.shop-widget {
    margin-bottom: 20px;
    border: 1px solid #dedede;
}

.shop-widget h4 {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    padding: 10px 14px;
    background: #54babb;
}

.category-shop-list > li {
    border-top: 1px solid #dedede;
}

.category-shop-list > li:first-child {
    border-top: 1px solid #dedede;
}

.category-shop-list li a.accordion-link {
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    padding: 6px 8px;
    position: relative;
    text-decoration: none;
}

.category-shop-list li a.accordion-link:hover,
.category-shop-list li a.accordion-link.active {
    color: #fff;
    background: #54babb;
    opacity: 0.6;
}

.category-shop-list li a.accordion-link:after {
    position: absolute;
    content: '+';
    color: #7b7b7b;
    font-size: 15px;
    font-family: arial;
    font-weight: 700;
    right: 9px;
    top: 5px;
}

.category-shop-list li a.accordion-link:hover:after,
.category-shop-list li a.accordion-link.active:after {
    color: #fff;
}

.category-shop-list li a.accordion-link.active:after {
    content: '-';
    right: 13px;
}

.accordion-list-content {
    border-top: 1px solid #dedede;
    display: none;
}

.accordion-list-content li {
    margin: 5px 0;
    padding-left: 17px;
    position: relative;
}

.accordion-list-content li:before {
    position: absolute;
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    background: #767676;
    top: 50%;
    left: 8px;
}

.accordion-list-content li a {
    display: inline-block;
    color: #767676;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

ul.popular-product {
    padding: 0 10px;
}

ul.popular-product li {
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #dedede;
    overflow: hidden;
}

ul.popular-product li:first-child {
    border-top: none;
}

ul.popular-product li img {
    float: left;
    width: 50px;
}

ul.popular-product li div {
    margin-left: 60px;
}

ul.popular-product li h6 {
    color: #000;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-top: 4px;
}

ul.popular-product li h6 a {
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.popular-product li h6 a:hover {
    color: #54babb;
}

ul.popular-product li span {
    color: #54babb;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.price-range {
    padding: 18px 12px 12px;
    overflow: hidden;
}

#start-val,
#end-val {
    display: inline-block;
    border: none;
    float: left;
    padding: 0;
    color: #000;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    max-width: 50px;
}

#end-val {
   float: right;
   text-align: right;
}

.home-shop {
    margin-top: 30px;
}

/*-------------------------------------------------*/
/* =  Home 2
/*-------------------------------------------------*/

.testimonials {
    padding: 60px 0;
}

.bxslider {
    text-align: center;
}

.testimonials .bxslider img {
    margin: 0 auto 22px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 10px;
    border: 1px solid #e2e2e2;
}

.message-content {
    padding-bottom: 20px;
}

.message-content p {
    color: #919191;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
}

.message-content h6 {
    color: #000000;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
    position: relative;
    margin: 20px 0 0;
}

.message-content h6:before {
    content: '';
    width: 110px;
    height: 1px;
    background: #000000;
    position: absolute;
    left: 50%;
    margin-left: -55px;
    top: -10px;
}

.message-content h6 span {
    font-weight: 600;
}

.accord-skills {
    background: url('../upload/background2.jpg');
    padding: 40px 0;
}

.title-section.white h1,
.title-section.white p {
    color: #fff;
}

.accord-skills-container {
    margin-top: 5px;
}

.skills-bars h4 {
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 5px;
}

.skills-bars > p {
    color: #fff;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 20px;
    margin: 0 0 20px;
    border-bottom: 1px solid #a5afaf;
}

.skills-progress p {
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    clear: both;
    margin-bottom: 6px;
}

.skills-progress p span {
    display: inline-block;
    color: #54babb;
    float: right;
    font-weight: 400;
    margin-top: -5px;
}

.meter { 
    height: 20px;  /* Can be anything */
    position: relative;
    background: transparent;
    border: 1px solid #a2acac;
    margin-bottom: 25px;
}

.meter > span {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #54babb;
}

.accord-skills-container h5,
.accord-skills-container p {
    color: #fff;
}

.accord-content img {
    float: left;
    margin-right: 20px;
    margin-top: 7px;
}

.accord-skills-container .accord-content p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.accord-skills-container a.accord-link {
    background: none !important;
    text-align: center;
    text-decoration: none !important;
    width: 64px;
}

.accord-skills-container a.accord-link:after {
    font-family: 'FontAwesome';
    content: '\f055';
    font-size: 37px;
    color: #fff;
    line-height: 64px;
    opacity: 0.5;
}

.accord-skills-container .accord-elem.active a.accord-link:after {
    content: '\f056';
    opacity: 1;
}

.accord-skills-container .accord-title {
    padding: 24px 30px;
}

.accord-skills-container .accord-content {
    padding: 26px;
}

.members-section {
    padding: 70px 0 30px;
}

.staff-post {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    margin-bottom: 30px;
}

.staff-post img {
    width: 100%;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.staff-post:hover img {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.staff-post-content {
    background: #54babb;
    padding: 16px;
    text-align: center;
    z-index: 2;
    -webkit-backface-visibility: hidden;
}

.staff-post-content h5 {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    line-height: 20px;
}

.staff-post-content span {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

ul.staf-social {
    text-align: center;
    padding: 14px 12px;
    border: 1px solid #e4e4e4;
}

ul.staf-social li {
    display: inline-block;
    margin-right: 7px;
}

ul.staf-social li:last-child {
    margin-right: 0px;
}

ul.staf-social li a {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid #e4e4e4;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    text-align: center;
    text-decoration: none;
}

ul.staf-social li a i {
    display: inline-block;
    line-height: 38px;
    font-size: 18px;
    color: #797979;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
}

ul.staf-social li a:hover i {
    color: #fff;
}

ul.staf-social li a:hover {
    background: #54babb;
    border: 1px solid #54babb;
}

/*-------------------------------------------------*/
/* =  About page
/*-------------------------------------------------*/

.about-banner {
    background: url('../upload/banner5.jpg');
}

.about-title {
    margin-bottom: 0 !important;
}

.statistic-section {
    padding-top: 40px;
}

.statistic-post {
    text-align: center;
    padding: 60px;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}

span.icon-stat {
    display: inline-block;
    padding: 0 15px 18px;
    border-bottom: 1px solid #bababa;
    margin-bottom: 20px;
}

span.icon-stat i {
    color: #54babb;
    font-size: 44px;
}

.statistic-post p span.numb {
    display: inline-block;
    color: #060606;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 36px;
    margin: 0 0 6px;    
}

.statistic-post p {
    color: #787878;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0;    
}

.white-back {
    background: none;
}

.white-back .accord-skills-container h5,
.white-back .accord-skills-container p {
    color: #787878;
}

.white-back .accord-skills-container a.accord-link:after {
    color: #54babb;
}

.white-back .skills-bars h4 {
    color: #787878;
}

.white-back .skills-bars > p {
    color: #787878;
}

/*-------------------------------------------------*/
/* =  Home3
/*-------------------------------------------------*/

.vertical-tabs,
.horizontal-tabs {
    padding: 70px 0;
}

.vertical-tabs .nav-tabs {
    float: left;
    width: 370px;
    border: none;
}

.vertical-tabs .nav-tabs li {
    display: block;
    float: none;
    border: 1px solid #dedede;
    border-top: none;
    margin: 0;
}

.vertical-tabs .nav-tabs li:first-child {
    border-top: 1px solid #dedede;
}

.nav.nav-tabs li a {
    display: block;
    border: none !important;
    margin: 0;
    padding: 28px;
    color: #797979;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    background: #fff;
}

.nav.nav-tabs li a i {
    color: #54babb;
    font-size: 24px;
    margin-right: 18px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.nav.nav-tabs li.active a i {
    color: #ffffff;
}

.nav.nav-tabs li.active a {
    color: #ffffff;
    background: #54babb;
}

.vertical-tabs .tab-content {
    margin-left: 369px;
    border: 1px solid #dedede;
}

.tab-content .tab-pane {
    padding: 30px 35px 15px;
    overflow: hidden;
}

.tab-content .tab-pane img {
    float: left;
    margin-right: 30px;
}

.tab-content .tab-pane h3 {
    color: #000000;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 10px;
}

.tab-content .tab-pane p {
    color: #919191;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 20px;
    line-height: 22px;
}

.tab-content .tab-pane iframe {
    float: left;
    margin-right: 30px;
    height: 260px;
    width: 360px;
}

.video-back {
    position: relative;
    padding: 50px 0;
}

#customElement {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
}

#customElement:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 0;
}

.services-box2 .services-post {
    margin-bottom: 50px;
}

.services-box2 .services-post > a {
    display: inline-block;
    float: left;
    width: 80px;
    height: 80px;
    background: #54babb;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    text-decoration: none;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.services-box2 .services-post:hover > a {
    transform: scale(1.2) rotate(360deg);
    -webkit-transform: scale(1.2) rotate(360deg);
    -moz-transform: scale(1.2) rotate(360deg);
    -o-transform: scale(1.2) rotate(360deg);
}

.services-box2 .services-post > a i {
    font-size: 28px;
    color: #fff;
    line-height: 80px;
}

.services-box2 .services-post-content {
    margin-left: 110px;
}

.services-box2 .services-post-content h4 {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 22px;
    margin: 0 0 10px;
}

.services-box2 .services-post-content p {
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 22px;
    margin: 0 0 10px;
}

.services-box2 .services-post-content a {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 7px 16px;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.services-box2 .services-post-content a:hover {
    color: #54babb;
    background: #fff;
}

.horizontal-tabs .nav-tabs {
    border: 1px solid #dedede;
}

.horizontal-tabs .nav-tabs li {
    margin: 0;
}

.horizontal-tabs .nav-tabs li {
    border-right: 1px solid #dedede;
}

.horizontal-tabs .tab-content {
    border: 1px solid #dedede;
    border-top: none;
}

/*-------------------------------------------------*/
/* =  Home 4
/*-------------------------------------------------*/

.table-box {
    padding: 50px 0;
}

.table-responsive {
    text-align: center;
}

.table-responsive th {
    padding: 16px !important;
    background: #54babb;
    color: #fff;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    border: 1px solid #4ba7a8 !important;
}

.table-responsive td {
    padding: 16px !important;
    background: #fff;
    color: #595959;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border: 1px solid #dedede !important;
}

.table-responsive tr:nth-child(2n+1) td {
    background: #f5f5f5;
}

.clients {
    padding: 50px 0;
    background: url('../upload/background5.jpg');
}

ul.clients-logo {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
}

ul.clients-logo li {
    float: left;
    width: 22%;
    margin-left: 4%;
}

ul.clients-logo li:first-child {
    margin-left: 0%;
}

ul.clients-logo li a {
    display: block;
    height: 180px;
    padding: 65px 10px 0;
    text-align: center;
    background: rgba(0,0,0,0.2);
}

ul.clients-logo li a img {
    display: inline-block;
    line-height: 200px;
    max-width: 100%;
}

.latest-posts {
    padding: 50px 0 30px;
}

/*-------------------------------------------------*/
/* =  Home 5
/*-------------------------------------------------*/

.pricing-box {
    padding: 60px 0;
}

ul.pricing-table {
    width: 100%;
    margin-bottom: 15px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out; 
}

ul.pricing-table:hover {
    box-shadow: 0 0 20px #c6c6c6;
}

ul.pricing-table li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border: 1px solid #dbdbdb;
    border-top: none;
    background: #fff;
}

ul.pricing-table li:first-child {
    padding: 35px 0;
    border: none;
    background: #54babb;
}

ul.pricing-table li p {
    color: #555555;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

ul.pricing-table li:first-child p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

ul.pricing-table li:first-child span {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 20px;
}

ul.pricing-table li a {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 12px 20px;
    background: #54babb;
    text-decoration: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;    
}

ul.pricing-table li a:hover {
    opacity: 0.8;    
}

.services-box3 {
    padding: 40px 0;
    background: url('../upload/background4.jpg');
    text-align: center;
}

.services-box3 .services-post {
    margin-bottom: 20px;
}

.services-box3 .services-post > a {
    display: inline-block;
    width: 93px;
    height: 93px;
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    margin-bottom: 24px;
}

.services-box3 .services-post:hover > a {
    transform: scale(1.4) rotate(360deg);
    -webkit-transform: scale(1.4) rotate(360deg);
    -moz-transform: scale(1.4) rotate(360deg);
    -o-transform: scale(1.4) rotate(360deg);
    border: none;
}

.services-box3 .services-post > a i {
    font-size: 30px;
    color: #fff;
    line-height: 93px;
}

.services-box3 .services-post-content h4 {
    color: #fff;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
    margin: 0 0 10px;
}

.services-box3 .services-post-content p {
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 22px;
    margin: 0 0 12px;
}

.services-box3 .services-post-content a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 9px 13px 9px 55px;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.services-box3 .services-post-content a span {
    position: absolute;
    width: 42px;
    height: 100%;
    background: #fff;
    text-align: center;
    top: 0;
    left: 0;
}

.services-box3 .services-post-content a span i {
    color: #54babb;
    font-size: 18px;
    line-height: 38px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.services-box3 .services-post-content a:hover span i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.left-img {
    padding: 60px 0;
}

.img-holder img {
    max-width: 100%;
    margin-bottom: 20px;
}

.text-holder h2 {
    color: #000;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 6px;    
}

.text-holder p {
    color: #919191;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 22px;
    margin: 0 0 15px;    
}

.text-holder a {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 9px 16px;
    background: #54babb;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;    
}

.text-holder a:hover {
    opacity: 0.7;
}

/*-------------------------------------------------*/
/* =  Home 10
/*-------------------------------------------------*/

.inner-tempcore-line {
    padding: 40px;
    background: #54babb;
}

.inner-tempcore-line p {
    margin-right: 160px;
    color: #fff;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 26px;
}

.inner-tempcore-line p.small-text {
    font-size: 16px;
}

.inner-tempcore-line p span {
    font-weight: 600;
}

.inner-tempcore-line a {
    display: inline-block;
    float: right;
    text-align: center;
    color: #54babb;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    background: #fff;
    width: 145px;
    height: 54px;
    line-height: 54px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.inner-tempcore-line a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*-------------------------------------------------*/
/* =  Single project
/*-------------------------------------------------*/

.project-content {
    margin-bottom: 30px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 19px;
}

.project-content img {
    width: 100%;
    margin-bottom: 15px;
}

.project-content h1 {
    color: #787878;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize;
    margin: 0 0 15px;
}

.project-content p {
    color: #787878;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize;
    line-height: 22px;
    margin: 0 0 15px;
}

.other-works .project-post{
    margin-bottom: 30px;
}

.other-works {
    margin-bottom: 30px;
}

/*-------------------------------------------------*/
/* =  Footer
/*-------------------------------------------------*/

.up-footer {
    background: #3e4347;
    padding: 50px 0;
}

.text-widget img {
    margin-bottom: 15px;
}

.text-widget p {
    color: #cdd2d8;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 22px;
    margin: 0;
}

.footer-widgets h4 {
    font-size: 16px;
    color: #fff;
    padding: 9px 14px;
    border: 1px solid #2c2e32;
    text-transform: uppercase;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    margin-bottom: 18px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

.footer-widgets:hover h4 {
    color: #fff;
    border: 1px solid #54babb;
    background: #54babb;
}

.posts-widget-list li {
    border-bottom: 1px solid #383c40;
    margin-bottom: 7px;
}

.posts-widget-list li p {
    color: #cdd2d8;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 18px;
    margin-bottom: 7px;
}

.posts-widget-list li p a {
    color: #cdd2d8;
}

ul.tag-widget-list li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 10px;
}

ul.tag-widget-list li a {
    display: inline-block;
    color: #89919B;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 8px;
    text-decoration: none;
    border: 1px solid #54babb;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.tag-widget-list li a:hover {
    color: #fff;
    background:#54babb;
}

ul.flickr-list {
    overflow: hidden;
}

ul.flickr-list li {
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;
}

ul.flickr-list li:nth-child(4n) {
    margin-right: 0px;
}

ul.flickr-list li a {
    display: inline-block;
    padding: 5px;
    background: #353a3e;
    border: 1px solid #494f54;
    max-width: 60px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.flickr-list li a img {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.flickr-list li a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: 0.8;
}

.footer-line {
    background: #393d40;
    overflow: hidden;
    padding: 25px 0;
}

.footer-line p {
    float: left;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 32px;
}

ul.footer-social-icons {
    float: right;
}

ul.footer-social-icons li {
    display: inline-block;
    margin-left: 10px;
}

ul.footer-social-icons li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    border: 1px solid #fff;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.footer-social-icons li a i {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}

ul.footer-social-icons li a:hover {
    background: #fff;
}

ul.footer-social-icons li a:hover i {
    color: #393d40;
}


/*-------------------------------------------------*/
/* =  nouislider style (used in priccing range)
/*-------------------------------------------------*/

.noUi-target * {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
-webkit-touch-callout: none;
    -ms-touch-action: none;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        cursor: default;
}
.noUi-base {
    width: 100%;
    height: 6px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    border: 1px solid #dbdbdb;
    margin-bottom: 15px;
}
.noUi-handle {
    background: #EEE;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    margin: -6px 0 0 -6px;
    border: 1px solid #bdbdbd;
    background: #ebebeb url('../images/price-range.png') center center no-repeat;
}
.noUi-connect {
    background: Teal;
    background: #394f61 url('../images/price-range.png') center center no-repeat;
}
.noUi-background {
    background: #f5f5f5;
}
.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    border-radius: inherit;
    background: #54babb;
}
.noUi-origin-upper {
    background: inherit !important;
}
.noUi-z-index {
    z-index: 10;
}
.noUi-vertical {
    width: 40px;
    height: 100%;   }
.noUi-vertical .noUi-origin {
    bottom: 0;
    left: 0;
}
.noUi-vertical .noUi-handle  {
    margin: -23px 0 0 -3px;
}

.noUi-target[disabled] .noUi-base {
    background: #999;
}
.noUi-target[disabled] .noUi-connect {
    background: #BBB;
}
.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s;
}