﻿
<style>
	* {font-family: arial, helvetica;}
	th {text-align: right}
	tr, td {padding: 10px;}
</style>

<cfoutput>
	
<h3>Request for Demo sent from membes Website</h3>

<table>
	<tr>
		<th>Name:</th>
		<td>#rc.name#</td>
	</tr>
	<tr>
		<th>Email:</th>
		<td>#rc.email#</td>
	</tr>
	
	<tr>
		<th>Phone:</th>
		<td>#rc.phone#</td>
	</tr>

	<tr>
		<th>Website:</th>
		<td>#rc.website#</td>
	</tr>

</table>

</cfoutput>