﻿
<style>
	* {font-family: arial, helvetica;}
	th {text-align: right}
	tr, td {padding: 10px;}
</style>

<cfoutput>

<h3>Enquiry sent from membes Website</h3>

<table>
	<tr>
		<th>From:</th>
		<td>#rc.name#</td>
	</tr>
	<tr>
		<th>Organisation:</th>
		<td>#rc.organisation#</td>
	</tr>
	
	<tr>
		<th>Email:</th>
		<td>#rc.email#</td>
	</tr>
	
	<tr>
		<th>Phone:</th>
		<td>#rc.phone#</td>
	</tr>
	
	<tr>
		<th>Enquiry:</th>
		<td>#rc.enquiry#</td>
	</tr>
	
</table>

</cfoutput>