
<cfoutput>

	<div class="page-banner page-banner-features">
		<h2>Membership Software with <span>everything</span><br>and <span>everyone</span> covered ... in one, <span>integrated</span> platform.</h2>
	</div>

	#renderView('_includes/features')#

	<div>
        <div class="container">
			<div class="row">
				<div class="col-md-6">
					<a href="/about/explainer-video" class="btn btn-info otherbtn">
						90 Second Overview
						<i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-6">
					<a href="/demo/" class="btn btn-success otherbtn">
						Request your FREE Demo
						<i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>



	<div class="page-intro">
    <div class="title-section">
        <div class="container" style="text-align:center;">
            <h1>Integrated Website & Membership Database</h1>



            <br />
            <h2 style="font-size:18px;">membes single database solution</h2>
            <p>Many organisations still pursue the avenue of a separate CRM and website. This disconnect between systems creates a disconnect or even loss of potential data. membes helps you leverage your data using a single point of truth database with interactive front-facing portals for your members and stakeholders (i.e. your website) to an intuitive and easy to use management and analysis portal (i.e. your administrative  'back-end'). This increased connectivity leads to improved reporting, insights, and more targeted communications based on data collected. Ensuring your association continues to remain relevant to its users and stakeholders.
</p>
			<br />
            <img alt="Integrated membes cloud-based Software as a Service (SaaS) Membership and Association Management" src="/includes/img/content/integration.png" class="img-responsive" style="display:inline; max-width:557px; width:100%;">
            <p>&nbsp;</p>
            <p>&nbsp;</p>

            <h2 style="font-size:18px;">separate website, events & membership database software</h2>

            <p>The choice of a separate CRM and separate website might appear initially attractive and cost-effective, but ultimately is a missed opportunity and usual leads to higher costs over time. Because of the increased complexity involved, disparate or silo-ed systems will often stay stagnant or degrade over time leading to decreased security, reliability, upgradeability, productivity and members disengagement.</p>
            <br />
            <img alt="Non-integrated member CRM, events, communications, education and website (CMS) software" src="/includes/img/content/no-integration.png" class="img-responsive" style="display:inline; max-width:566px; width:100%;">
            <p>&nbsp;</p>
        </div>
    </div>
</div>



<!---
	<div>
        <div class="container">
			<div class="row">
				<div class="col-md-6">
					<a href="/about/explainer-video" style="width: 98%; font-size: 25px; text-transform: uppercase" class="btn btn-info">
						90 Second Overview
						<i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-md-6">
					<a href="/demo/" style="width: 98%; font-size: 25px; text-transform: uppercase" class="btn btn-success">
						Request your FREE Demo
						<i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>


		<br><br>

	</div>

--->

<div class="tempcore-line">
    <div class="container">
        <a href="/demo/" style="width: 220px">Request FREE Demo</a>
        <p><i class="fa fa-thumbs-up"></i>Future Proof your Association with current best practice in technologies and standards.</p>
    </div>
</div>



</cfoutput>