
/*
// LAYOUT
*/

/* Random */

@media (min-width: 481px) {

    .flexy {
        display: flex; 
        align-items: flex-end;
    }
    
}

.green {
    color: yellowgreen;
}
.bigbluebox {
	padding:20px; 
	background-color: #1F8EB7; 
	padding: 37px 50px 20px 50px; 
	border-radius: 20px;
}
.bigbluebox h3 {
	text-align:center;
	color:#fff; 
	font-weight: bold; 
	padding-bottom: 10px;
	margin-top:10px;
}

.otherbtn {
	width: 98%; 
	font-size: 25px; 
	text-transform: uppercase;
}
.leadin, .leadin p {
	font-size:1.1em;
	font-weight:normal;
	margin-top:10px;
}
.third {
	width:33%;
	float:right;
	text-align:center;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top:15px;
	padding:0 10px;
}
.articleimg {
	background-size:cover;
	background-position:center;
	width:100%;
	height:100px;
	margin-top:30px;
	margin-bottom:40px;
}
.article-circle {
	background-color:steelblue;
	height:85px;
	width:85px;
	margin:0 auto;
	border-radius: 42px;
	text-align:left;
	position:relative;
	margin-bottom:5px;
}
.article-circle .glyphicon {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	font-size:3em;
	color:white;
}
.highlights {
	padding-top:15px;
	background-color:#eee;
	border-radius:10px;
	margin:20px 5px;
}

.sidebox {
	background-color:#eee;
	padding: 25px 15px 10px 15px;	
	border-radius:5px;
	color:#333;
}
.sidebox label {
	color:#333 !important;	
	font-size:15px !important;
}
/*.sidebox input {font-size: 17px !important;} */
.sidebox h3 {
	font-size: 18px;
	color: #787878;		
	margin-bottom: 30px;	
}

.modern-system, .traditional-system, .bespoke-crm, .saas-crm {
	min-height:300px;
	width:75%;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	margin: 0 auto 25px auto;
}
.modern-system { background-image: url('/includes/img/content/modern-crm.jpg'); }
.traditional-system { background-image: url('/includes/img/content/traditional.jpg'); }
.bespoke-crm { background-image: url('/includes/img/content/bespoke-association-crm-2.png'); }
.saas-crm { background-image: url('/includes/img/content/saas-association-crm-2	.png'); }

/* Lists */
.modernlist {
	color: #787878;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
	margin-bottom:30px;
	margin-top:10px;
	list-style:circle;
}
.modernlist li {
	margin-left:10px;
	padding-left:40px;	
	min-height:25px;

}
.modernlist2 {
	color: #787878;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
	margin-bottom:30px;
	margin-top:10px;
	list-style:circle;
}
.modernlist2 li {
	padding-left:25px;	
	min-height:25px;

}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.vtop {
    display: inline-block;
    vertical-align: top;
    float: none;
}
.ticklist li, .tick {
	background:url('/includes/images/tick-25px.png') no-repeat 0 3px;
}
.crosslist li, .cross {
	background:url('/includes/images/cross-25px.png') no-repeat 0 3px;
}

.generallist li {
	background:url('/includes/images/general5-25px.png') no-repeat 0 3px;
	font-weight:bold;
}
.generallist {
	margin: 10px 0px !important;
}
.generallist2 li {
	background:url('/includes/images/general5-15px.png') no-repeat 0 3px;
}
.generallist2 {
	margin: 10px 0px !important;
}
.tick, .cross {
	width:25px;
	height:25px;
	line-height:25px;
	display:inline-block;
	background-position: center;
}
.infotable tbody {background-color:#eee;}
.infotable thead {background-color:#009fd0; color:white;}
.infotable th[class="aligncenter"], .infotable td[class="aligncenter"] {
	text-align:center;
}
.infotable th, .infotable td {
	padding: 5px 15px;
}
.infotable tbody tr:first-child td {
	padding-top:15px;
}
.infotable tbody tr:last-child td {
	padding-bottom:15px;
}
.infotable strong, .infotable b {
	color:#666;
}

/* Banners */
.page-banner {
	/*background-image: url('/includes/img/banner/home-blue.jpg');*/
	background-color: #2996bf;
	background-image: url('/includes/img/banner/home2.jpg');
	background-size:cover;
	background-position:center;
	text-align: center;
	padding-top: 30px;
	box-shadow: 0 0 25px rgba(0,0,0,0.2);
	padding: 0px 50px;
}



.page-banner.page-banner-home {
	background-image: url('/includes/img/banner/home2.jpg');
	height: 400px;
}

.page-banner.page-banner-crowd-blue {
	background-image: url('/includes/img/banner/crowd_heads_blue.jpg');
}

.page-banner.page-banner-whousing {
	background-image: url('/includes/img/banner/crowd_heads.jpg');
}
.page-banner.page-banner-features {
	background-image: url('/includes/img/banner/puzzle.jpg');
}
.page-banner.page-banner-technical {
	background-image: url('/includes/img/banner/switchboard.jpg');
}
.page-banner.page-banner-setup {
	background-image: url('/includes/img/banner/kids_lego.jpg');
}
.page-banner.page-banner-contact {
	background-image: url('/includes/img/banner/megaphone.jpg');
}
.page-banner.page-banner-demo {
	background-image: url('/includes/img/banner/kids_lego.jpg');
}
.page-banner.page-banner-cloud {
    background-image: url('/includes/img/banner/clouds.jpg');
}
.page-banner.page-banner-cloud2 {
    background-image: url('/includes/img/banner/clouds2.jpg');
}
.page-banner.page-banner-association {
    background-image: url('/includes/img/banner/association.jpg');
}
.page-banner.page-banner-field {
    background-image: url('/includes/img/banner/hay.jpg');
}
.page-banner.page-banner-blocks {
    background-image: url('/includes/img/banner/blocks.jpg');
}
.page-banner.page-banner-blocks2 {
    background-image: url('/includes/img/banner/blocks2.jpg');
}
.page-banner.page-banner-puzzle {
    background-image: url('/includes/img/banner/puzzle.jpg');
}
.page-banner.page-banner-info {
    background-image: url('/includes/img/banner/info.jpg');
}
.page-banner.page-banner-flexible {
    background-image: url('/includes/img/banner/flexible-tmp4.jpg');
}
.page-banner.page-banner-tailor {
    background-image: url('/includes/img/banner/tailor.jpg');
}
.page-banner.page-banner-connect {
    background-image: url('/includes/img/banner/connect.jpg');
}
.page-banner.page-banner-design {
    background-image: url('/includes/img/banner/design.jpg');
}
.page-banner.page-banner-city {
    background-image: url('/includes/img/banner/city.jpg');
}
.page-banner.page-banner-engage {
    background-image: url('/includes/img/banner/engage.jpg');
}
.page-banner.page-banner-mobile {
    background-image: url('/includes/img/banner/mobile.png');
}
.page-banner.page-banner-tmp {
    background-image: url('/includes/img/banner/tmp3.jpg');
}
.page-banner.page-banner-board {
    background-image: url('/includes/img/banner/board2.png');
}
.page-banner.page-banner-executive {
    background-image: url('/includes/img/banner/executive2.png');
}
.page-banner.page-banner-staff {
    background-image: url('/includes/img/banner/staff.png');
}
.page-banner h1 {
	color: #fff;
	font-size: 38px;
	font-family: "omnes-pro",sans-serif;
  	font-style: normal;
  	font-weight: 400;
	text-shadow: 0 0 10px rgba(0,0,0,0.6);
	margin-bottom: 20px;
	font-weight: bold;
}

.page-banner h2 {
	color: #fff;
	font-size: 35px;
	font-family: 'Roboto', sans-serif;
  	font-weight: 400;
	text-shadow: 0 0 10px rgba(0,0,0,0.6);
	margin-top: 100px;
}

.page-banner h2 span {
	border-bottom: 1px dashed #fff;
}

.page-banner ul.fa-ul{
	font-size: 19px;
	color: white;
	float:left;
	font-weight: bold;
	text-align: left
}

.page-banner-narrow {
	height: 220px;
}
.page-banner-narrow h2 {
	font-size: 40px;
	margin-top: 80px;
}



/* NAV */
.navbar {
	background-color: #1F8EB7;
}
.top-line {
	background-color: #fff;	
}

#header-logo, #footer-logo {
	color: white;
	font-family: "omnes-pro",sans-serif;
	font-style: normal;
	font-weight: 200;
	font-size: 50px;
	margin-top: 8px;
}
footer {
	margin-top: 40px;	
}
#footer-logo {
	font-size: 40px;
	margin-bottom: 20px;	
}

#slider-logo-btn {
	cursor: default;
	background-color:transparent;
	display: block;
	border: 1px solid #fff;
	border-radius: 15%;
	width: 140px;
  	height: 130px;
  	padding: 30px 18px;
	font-size: 120px;	
	text-align: center;
	color: white;
	line-height: 30px;
}


#slide-subheading {
	font-family: "omnes-pro",sans-serif;
	font-style: normal;
	font-weight: 600;	
	font-size: 50px;
	text-shadow: 0 0 10px #000;
}
#slide-heading {
	font-family: "omnes-pro",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 80px;
		
}


.btn-transparent {
	background-color: none;
	border-color: #fff;	
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.btn-transparent:HOVER {
	background-color: #fff;
	color: #28b5ea!important;
}

.btn-success {
	background-color: #7bd325;
	border-color: #7bd325;
}
.btn-success:HOVER {
	background-color: #6FBF21;
	border-color: #6FBF21;
	color: #fff!important;
}

.btn-banner {
	color: white;
    width: 280px;
    font-size: 18px;
    height: 52px;
	padding-top: 12px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.btn-banner:HOVER {
	color: white;
	text-shadow: none;
}

a.link-box div{
	min-height: 310px;
	margin-bottom: 24px;	
}
a.link-box div {
	text-align: center;
	padding: 30px 30px 10px 30px;
	border: 1px solid #e4e4e4;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	background:none;
}
a.link-box h2 {
	color: #787878;
	font-family: "omnes-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
}

a.link-box:HOVER div{
	background-color: #F9F9F9;
	text-decoration:none;	
}
a.link-box:HOVER {
	text-decoration: none;	
}




/*
// SECTIONS
*/

/* Features */

ul.feature-overview-list li {
	font-size: 17px;
}
ul.feature-overview-list i.fa-check-square {
	color: yellowgreen;
}

.tempcore-line-noshadow:after {
	background: none;
}
.tempcore-line-noshadow p {
	margin-right: 0px;
	font-size: 17px;
}


/*
// ELEMENTS
*/

.greysmall {
	font-size:13px;
	color:#ccc;
}

q {
	font-style: italic;
	font-size: 16px;
	/*font-family: "Times New Roman";*/
	line-height:25px;
}
q:before, q:after {
	color:#85d1ec;	
	font-weight:bold;
	font-size:2em;
}

ul.circle-number-list ol {
	padding-top: 10px;
}
ul.circle-number-list ol.list li {
	font-size: 14px;
	line-height: 30px;
}
.circle-number{
	width:60px;
	height:40px;
	line-height:40px;
	border-radius:20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size:20px;
	color:#fff;
	background:#87ca55;
	text-align:center;
	float:left;
	margin-right: 20px;
	border: 1px solid green;
}
.fireworks {
	background-image: url('/includes/images/icons/number-circle-fireworks-bg.png');
}
ul.circle-number-list > li {
	margin-bottom: 40px;
}
ul.circle-number-list h3 {
	padding-top: 8px;
	margin-bottom: 12px;
}

ul.list li {
	text-align: left;
	color: #787878;
	line-height: 30px;
	font-size: 14px;
}

ul.list li:before {
    content: '✔';   
    margin-left: -2em; margin-right: .900em;
	color: green;
 }

ul.list {
   list-style: none;
   list-style-position:outside;
}



hr.narrow {
	width: 57%;	
}

.alert {margin-bottom: 0; text-align:center}
.alert {
	font-size: 30px;
	line-height: 70px;
}


/*
// MODAL
*/

.fa-li {
	top: .12cm;
}
.fa-ul>li {
	margin-bottom: 12px;
}

body.modal-open, body.modal-open .navbar-fixed-top, body.modal-open .navbar-fixed-bottom {
  margin-right: 0px;
}
.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal-backdrop {
   background-color: white;
   opacity: .8;
}
.modal-header {
	background-color: #1f8eb7;
}
.modal-header h1 {
	color: #fff;
	text-transform: none;
}


/*
// RESPONSIVE
*/

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}


@media (max-width: 991px) {
	#container {
		padding-top: 109px;
	}	
	
	#slider-logo-btn {
	  border-radius: 15%;
	  width: 80px;
	  height: 70px;
	  padding: 15px 1px;
	  font-size: 70px;
	  line-height: 20px;
	}
	
}

@media (max-width: 767px) {
	
	.bigbluebox {
		padding:10px;
	}
	
	.otherbtn {
		font-size: 16px;
		margin-bottom:10px;
	}
	
	#header-logo {
		font-size: 35px;
		margin-top: 2px;
	}	
	#container {
		padding-top: 58px;
	}	

	.fullwidthbanner-container {
		display:none;
	}
	
	.page-banner h2  {
		/*font-family: "omnes-pro",sans-serif;
		font-style: light;
		font-weight: 200;*/
		font-size: 25px;
		/*margin-top: -15px;*/
	}
	#slider .page-banner h2 {
		margin-top: 10px;	
	}
	#slider .btn-banner {
		height:45px;
		line-height:45px;
		padding-top:0;
	}
	.page-banner small {
		color: white;
		font-family: "omnes-pro",sans-serif;
		font-style: light;
		font-weight: 200;
	}
	#resp-banner-home a {
		margin-top: 15px;
		color: #fff;
	}
	
}

@media (max-width: 550px) {
	.page-banner h1 {
		font-size: 30px;
		margin-top: 30px;
	}
	.page-banner h2 {
		/*width: 200px;
  		margin: auto;
		font-weight: 400;*/
	}
	
}

@media (max-width: 380px) {
	.btn-banner {
		width: auto;
	}
}


.benefit-feature-icon {
	width: 12%;
	text-align: center;
	vertical-align: top;
	padding-top: 40px!important;
}




/* ************** LANDING PAGE CSS (start) ************** */
.page-banner.page-banner-landpage1 {
	background: url('/includes/img/banner/outback1.jpg');
	box-shadow:none;
	height: 600px;
}
.page-banner.page-banner-landpage1 a:not(.btn) {
	/*color:#7bd325;*/
	color:#B9FF91;
	text-shadow: 0 0 15px rgba(0,0,0, 0.5);
}
.page-banner.page-banner-landpage1 a:not(.btn):hover {color:#deffbe;}
.play-video {
	font-family: 'FontAwesome';
	font-size:100px;

	/*background:#1f8eb7;*/

	width:150px;
	margin: 10px auto;
	background:#eee;
	color:#1f8eb7;
	border-radius:20px;
}
.no-underline a:hover {
	text-decoration:none;
}
a .play-video:hover {
	color:#fff;
	background:#1f8eb7;
}
.landing-feature-shell {
	padding:5px;
	/*border:1px solid #f00;*/
}
.landing-feature {
	padding:5px;
	/*border:1px solid #0C3;*/
	max-width:33.3%;
	float:left;
	display:block;
	margin-bottom:20px;
}
.landing-feature .thing1 {
	font-family: 'FontAwesome';
	font-size:30px;
	color:#F90;
}

@media (max-width: 768px) {
	.landing-feature {
		max-width:100%;

	}
}

@media (max-width: 420px) {
	.page-banner.page-banner-landpage1 .btn, .page-banner.page-banner-landpage1 .inputtext {
		margin-top:10px;
	}
}


.page-banner.page-banner-landpage1 h1 {
	/*font-weight:normal;*/
	text-shadow: 0 0 15px rgba(0,0,0, 0.8);
}
.page-banner.page-banner-landpage1 h2 {
	font-family: "omnes-pro",sans-serif;
	font-weight:normal;
	font-size:22px;
	margin:0;
	padding:0;
	text-shadow: 0 0 15px rgba(0,0,0, 1.0);
	width:auto;
}
.page-banner.page-banner-landpage1 .inputtext {
	border: 1px solid transparent;
    border-radius: 4px;
	padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
}
/* ************** LANDING PAGE CSS (end) ************** */

