<cfoutput>

<div class="page-banner page-banner-staff">
	<h2>Stakeholder and Member Engagement</h2>
</div>

<div class="page-intro">
    <div class="title-section">
        <div class="container">
        	<div class="text-holder">
                <h1>Engagement</h1>
                <p><b>Increased engagement of your Stakeholders delivers growth to your Association and reduced workload for your staff</b></p>

                <p>
                    For an Association to remain Relevant and Engaged with its members in a world overflowing with information, it needs to take advantage of all possible technical advantages it can.
                    membes SaaS delivers Enterprise Grade Engagement Capabilities using current best practice and leveraging the latest in software standards.
                </p>

                <table border="0" width="100%" class="infotable">

                    <thead>
                        <tr>
                            <th colspan="3">Engagement </th>
                        </tr>
                    </thead>

				    <tbody>

                        <tr>
                            <td class="benefit-feature-icon" width="10%">
                                <i class="far fa-envelope fa-5x green"></i>
                            </td>
                            <td>
                                <h3>Segmented and Targeted Communications to deliver Relevant and Engaging content to your Members</h3>
                                <p>
                                    Because membes is a fully integrated system, all data related to activities (Events attended, Renewal dates, learning activities, SIG activity etc..) carried out by and for your stakeholders is recorded within this single system.
                                    This centralization of historical and activity related data creates a very accurate profiling of each of your stakeholders.
                                    This profiling, integrated with purpose built Communications and Reporting tools provides for a clearer picture of what information your organisations stakeholders find relevant and making it easy for you to get that relevant information to them.
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td class="benefit-feature-icon" width="10%">
                                <i class="far fa-comments fa-5x green"></i>
                            </td>
                            <td>
                                <h3>Discussion Forums to enable your members to share ideas, network and communicate with piers</h3>
                                <p>
                                    A major purpose for Professional Associations existing is to provide easy access to the latest news, trends, developments and sector insights.
                                    The greatest source of these insights is the industry and your members Piers.
                                    The membes AMS provides your members with quality discussion forums to allow them to ask each other questions, offer each other insights and knowledge on a scale not possible by just your organisation.
                                    Your Associations health relies on it becoming a community of it's members, and effective Discussion forums are critical for achieving this.
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td class="benefit-feature-icon" width="10%">
                                <i class="fas fa-users fa-5x green"></i>
                            </td>
                            <td>
                                <h3>Groups Portals for Boards, Committees and  SIG's for private discussions, events and file sharing</h3>
                                <p>
                                    A Professional Association contains sub groups.  Whether it be The Board, a Conference Committee, State Branch, or even your Staff.
                                    How effectively an Association grows and achieves its strategic objectives and milestones is linked directly to how effectively these Groups can work together.
                                    The membes Groups Portals makes it very easy to create any number of "Groups" for your organisations.  Groups can be configured with members, Administrators, self opt in or invite only.
                                    Once a "Group" is created, members of that group have access to a Private Group only Events Calendar to see and register for Group specific Events, Discussion Forums for that Group, and a File Repository for storing, sharing and accessing Groups Specific documents such as Policies, Agendas etc..
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td class="benefit-feature-icon" width="10%">
                                <i class="far fa-id-card fa-5x green"></i>
                            </td>
                            <td>
                                <h3>Members can manage their own profiles, view historical invoices, events and notes</h3>
                                <p>
                                    Your members information needs to be kept up to date if you are going to appropriately service their needs, effectively communicate with them and know where you stand with them.
                                    Your members also need to be able to access all of their information when needed, and in a way that is convenient for them (and your staff).
                                    membes provides all necessary tools to allow your members to update their information, view invoices and details of past events attended, certificates and more.
                                    Importantly, it also gives you full control of what they can or can't see and update themselves, as well as all updates being recorded so you can easily see who changed something, when it was changed and what it was changed from and to.
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td class="benefit-feature-icon" width="10%">
                                <i class="fas fa-mobile-alt fa-5x green"></i>
                            </td>
                            <td>
                                <h3>Integrated member focused mobile App allowing greater cut through and access to your members</h3>
                                <p>
                                    A modern, Mobile Responsive Website is critical in maximising Engagement with your stakeholders.
                                    However, increasingly (particularly among millennials), your audience is interacting with the world and accessing information through mobile Apps.
                                    We experience it ourselves that we have so many sources information vying for our attention.  For a growing number of your stakeholders, the only way you are going to get your message to them is by having an App installed on their phone.
                                    <br>The membes platform provides a fully integrated, branded specifically for your Association, mobile App that your members can download to their phone.
                                    They can login with their standard website login to access events, news, discussions and update their profile.
                                    And most importantly you can send push notifications as needed direct to their phone, ensuring your message is not lost in their email inbox or buried in one of the many websites they never get time to visit.
                                </p>
                            </td>
                        </tr>



                    </tbody>
                </table>


            </div>
            
            
 
         </div>
    </div>
</div>


<div class="tempcore-line">
    <div class="container">
        <a href="/demo/" style="width: 220px">Request FREE Demo</a>
        <p><i class="fa fa-thumbs-up"></i>Future Proof your Association with current best practice in technologies and standards.</p>
    </div>
</div>


</cfoutput>   