<cfoutput>

<div class="page-banner page-banner-staff">
	<h2>Membership</h2>
</div>

<div class="page-intro">
    <div class="title-section">
        <div class="container">
        	<div class="text-holder">
                <h1>Membership</h1>
                <p><b>The core of the membes Association Management System is an Enterprise grade Membeship Management System.</b></p>


                
                <table border="0" width="100%" class="infotable">
                    <thead>
                        <tr>
                            <th colspan="3">Membership Officer</th>
                        </tr>
                    </thead>
				    <tbody>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-user fa-3x green"></i></td>
                            <td><h3>Personalised Member Experience</h3><p>Membes takes the headache out of delivering personal content to your members and stakeholders. With a centralised data approach leverage all your data, not just parts of it. Target specific groups, interests, members, event attendees or a mix of them all with personalised communications or setup private member or stakeholder portals.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-bolt fa-3x green"></i></td>
                            <td><h3>Empower Members</h3><p>Empower your members and stakeholders with more control - choose what data they have access to and update against their profile and what data flows onto other areas including public or private directories, or what interests them through newsletter streams.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-cogs fa-3x green"></i></td>
                            <td><h3>Avoid Manual Processing</h3><p>Membership is more than just adding web forms or a collection point of member data on your website. Effective membership management avoids processing between multiple systems or spreadsheets, automates payment processing and automatically ongoing content permissions or access to member benefits such as special event pricing.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-building fa-3x green"></i></td>
                            <td><h3>Companyies, Individuals &amp; Relationship Management</h3><p>Don't put round pegs in square holes - use an Association Platform designed to work with professional associations that caters for both individual and company/organisation membership types. Many basic membership or club-level software doesn't cater for professional membership structures, and sales orientated CRMs cater more towards... well, sales, and not members. Membes allows you to create your own custom relationships to define complex organisations hierarchies and can track individuals across multiple employers all within a single professional association database.</p></td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                
                <table border="0" width="100%" class="infotable">
                    <thead>
                        <tr>
                            <th colspan="3">Events Officer</th>
                        </tr>
                    </thead>
				    <tbody>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-calendar fa-3x green"></i></td>
                            <td><h3>Manage Small to Large Events</h3><p>Membes Event Management has been desigend to cater for a wide range of professional association events - from the smaller, simpler events through to larger, more complex, multi-day, multi-session events. With all event history tied back to member profiles for reporting, cross-referencing or increased communication segmentation.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-sitemap fa-3x green"></i></td>
                            <td><h3>Event Automation - CPD, Memberships...</h3><p>There are many powerful event management platforms out there that can cater for events of all sizes and they do events really well. However, events is often the only thing they do (or do really well). Because Membes has a holistic and single database approach it ties really well all association administration including membership information to automatically calculate event pricing for specific membership tiers, and can automatically tie event registration to log CPD history against users (which can then for more extensively tracked, processed and audited).</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-thumb-tack fa-3x green"></i></td>
                            <td><h3>Event Planning &amp; Task Tracking</h3><p>Membes also includes CRM capabilities to help manage tasks around events or more general activities amongst the whole admin team. Easily assign and track tasks across your team.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-database fa-3x green"></i></td>
                            <td><h3>Centralised Data - Even with Microsites or PCOs</h3><p>Many organisations face the challenge as they grow they may use separate and dedicate website orientated specifically for a large event or conference, and they may use external services such as a PCO to manage those events. The Membes platform gives organisations the flexibility to manage from the smallest events through to larger more complex, multi-day or multi-session events with automatic CPD integration and the option to create separate event microsites without creating a separating event registration data from other smaller event data or member data.</p></td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                
                <table border="0" width="100%" class="infotable">
                    <thead>
                        <tr>
                            <th colspan="3">Communications &amp; Marketing Officer</th>
                        </tr>
                    </thead>
				    <tbody>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-bullseye fa-3x green"></i></td>
                            <td><h3>Targeted Communications</h3><p>Membes includes segmentation unlike any other association platform with an almost unlimited degree of slicing and dicing data. Eliminate the need to colate data across multiple spreadsheets or databases. Membes holistic approach allows associations to deliver very targeted communications (or reports) that filter by membership type, status, expiry/joining dates, location, events attended or not attended, or other form data capture which could include interests, services, education, staff position or event favourite colour!</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-comments fa-3x green"></i></td>
                            <td><h3>Engage Your Members (across mediums)</h3><p>Not only can you unlock the powerful segmentation capabilities with very targeted emails, but Membes can capture and communicate across a variety of mediums to make sure your are informed about your members and they are well engaged! Capture and communicate with email, SMS, custom online forms, surveys, private forums or your own branded Moible App with push notifications. So, if you are trying to reach younger members or new potential members don't just use email, engage with SMS or send push notifications direct to their phone.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-file-text-o fa-3x green"></i></td>
                            <td><h3>Share and Engage with all Stakeholders (not just members)</h3><p>Disover the capabilties of a comprehensive association platform that helps you engage with all stakeholders, not just members. Create private communication and document sharing hubs across members groups, committees, boards, sponsors and any defined group you like.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter"><i class="fa fa-users fa-3x green"></i></td>
                            <td><h3>Know Your Users</h3><p>More than your typical CRM, Membes logs detail profile history, interactions and changes to profile data over time. No longer loss data with users update their information where data simply gets overwritten - check the Membes change log to track changes in membership type, status, contact information and more.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter"><i class="fa fa-line-chart fa-3x green"></i></td>
                            <td><h3>Improve Website Traffic</h3><p>Drive more traffic your own website with improved Search Engine Optimisation (SEO) and improved website accessibility for users including mobile responsive web design (for public and private administration portals).</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-pencil-square-o fa-3x green"></i></td>
                            <td><h3>Manage your own Content without the Cost</h3><p>Part of Membes core approach is to give control back to clients for flexibility and freedom to manage their own content without having to rely on a vendor. Making things powerful and accessible but without the need for an IT degree. Reducing reliance on vendors helps to reduce additional expenses and eliminates service monopolies when your only choice is to go back to a provider to make changes.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-paint-brush fa-3x green"></i></td>
                            <td><h3>Design Freedom - Grow as you do</h3><p>Membes sets the standard in platform flexibility outside of bespoke or custom development. Allowing your association to take the look and feel of your public or private web portals as far as you want. With technical and less-technical integrations, Membes can easily work with existing websites or can fully replace existing sites with modern, mobile-responsive, seamlessly integrated members database-driven website.</p></td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                
                <table border="0" width="100%" class="infotable">
                    <thead>
                        <tr>
                            <th colspan="3">Education &amp; Training Officer</th>
                        </tr>
                    </thead>
				    <tbody>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-certificate fa-3x green"></i></td>
                            <td><h3>CPD Tracking &amp; Auditing</h3><p>Many professional associations struggle the paperwork of accreditation or Continued Professional Development (CPD) programs. It doesn't need to be this way. More than just a basic online, Membes comprehensive CPD software not only faciliates online CPD submission and automatic linking to events but it also helps support the administration around them - including tracking, document submission, follow-up, approval, and auditing. No other off-the-shelf AMS platform provides the ability of Membes.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-cloud fa-3x green"></i></td>
                            <td><h3>Online Resources, Events and Comms</h3><p>With Membes comprehensive tools, you can setup private resource hubs for any accreditation or education group for private events, communication, document sharing or data capture through custom online forms to receive student submissions or surveys to check current student understanding.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-graduation-cap fa-3x green"></i></td>
                            <td><h3>Learning Management Software (LMS) Integration</h3><p>Membes integration is one thing it does really well. Offering multiple data access points, information can be sent and received to third party information to communicate CPD information on completion of courses, setting up new users on purchasing of a course through Membes, or for authenication for single login capabilties across multiple platforms.</p></td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                
                <table border="0" width="100%" class="infotable">
                    <thead>
                        <tr>
                            <th colspan="3">Finance Officer</th>
                        </tr>
                    </thead>
				    <tbody>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-magic fa-3x green"></i></td>
                            <td><h3>Automatic Renewals</h3><p>Of course the big part of any association software is managing memberships. However, managing membership well is more than just moving away from PDF membership applications to online forms or accepting payments online. From joining through to renewals, Membes can be configured to suit a wide range of professional membership structures that puts your association's membership on autopilot. Automatically renewals, reminders, payments and invoices takes the burden out of membership administration.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-pie-chart fa-3x green"></i></td>
                            <td><h3>Accessible Data &amp; Visual Reporting</h3><p>Easily track the health of your association with improved data insights, not just the basics. Track membership trends, joining, and compare retention cycles, engagement, finance and other user interactions. Powerful built-in visual tools including graphs and heat mapping allows you to easily digest data and not just create long lists of complex data.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-shopping-cart fa-3x green"></i></td>
                            <td><h3>Online Payments, Signup &amp; Scheduling</h3><p>Basic ecommerce or online shopping carts don't handle the workflow of new and existing memberships, Membes does. Online joining and payments is the first step in moving away from manual processing but it doesn't stop there. Once captured in the Membes platform, comprehensive user history and interaction continues to build, invoices are automatitcally generated and the wheels can be set in motion for continue scheduled payments.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-bank fa-3x green"></i></td>
                            <td><h3>Additional Revenue Streams</h3><p>Membes not only delivers more benefits to members with easy to create content or resources but also allows more flexibility to accept payments with membership add-ons, event add-ons or general online store purchases.</p></td>
                        </tr>
                        <tr>
                            <td class="aligncenter" width="10%"><i class="fa fa-usd fa-3x green"></i></td>
                            <td><h3>Xero Integration</h3><p>Whilst Xero Integration has been present in some generic online stores or ecommerce software, it has evaded the association software space for some time. Membes now has a direct API integration with Xero that not only allows data to be easily passed to Xero, but subsequently pull-down data such as GL or tracking codes and link them to membership, event or other purchases for much more accurate tracking and segmenting finance information.</p></td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>

            </div>
            
            
 
         </div>
    </div>
</div>


<div class="tempcore-line">
    <div class="container">
        <a href="/demo/" style="width: 220px">Request FREE Demo</a>
        <p><i class="fa fa-thumbs-up"></i>Future Proof your Association with current best practice in technologies and standards.</p>
    </div>
</div>


</cfoutput>   